.k-grid {
  border-radius: 0
}

.tags {
  padding: 5px 4px 6px 4px
}

.tags input {
  height: 21px
}

span.tag {
  text-transform: uppercase
}

.navbar-menu {
  min-width: 400px;
  max-width: 400px
}

.float-left {
  float: left
}

.margin-top-7 {
  margin-top: 7px !important
}

.margin-top-12 {
  margin-top: 12px !important
}

.text-color-red {
  color: red
}

i.search-box-close.icon-left-big{
  cursor: pointer
}

.text-align-center{
  text-align: center
}

div.comment-input.reply-input input.reply-input{
  width: 100%
}
